Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade

72	180	31

80	170	21

60	175	16

90	174	28

100	185	23

Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
dados_pessoas = pd.DataFrame()

In [93]:

dados_pessoas["Peso (kg)"] = [72, 80, 60, 90, 100]
dados_pessoas["Altura (cm)"] = [1.80, 1.70, 1.75, 1.74, 1.85]
dados_pessoas["Idade"] = [31, 21, 16, 28, 23]

In [82]:
dados_pessoas

   Peso (kg)  Altura (cm)  Idade        IMC
0         72         1.80     31  22.222222
1         80         1.70     21  27.681661
2         60         1.75     16  19.591837
3         90         1.74     28  29.726516
4        100         1.85     23  29.218408

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

In [23]:
dados_pessoas["Altura (cm)"].values

array([180, 170, 175, 174, 185], dtype=int64)

(b) Obtenha a idade média das pessoas.

In [24]:
dados_pessoas["Idade"].mean()

23.8

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

In [83]:
abaixo_altura_media = dados_pessoas[(dados_pessoas["Idade"]) < dados_pessoas["Idade"].mean()]

In [84]:
abaixo_altura_media

   Peso (kg)  Altura (cm)  Idade        IMC
1         80         1.70     21  27.681661
2         60         1.75     16  19.591837
4        100         1.85     23  29.218408

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

In [85]:
# peso/altura^2
for c in range(len(dados_pessoas["Idade"])):
    dados_pessoas["IMC"][c] = dados_pessoas["Peso (kg)"][c]/((dados_pessoas["Altura (cm)"][c]**2))

<ipython-input-85-35befbbd8904>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_pessoas["IMC"][c] = dados_pessoas["Peso (kg)"][c]/((dados_pessoas["Altura (cm)"][c]**2))

In [86]:
dados_pessoas

   Peso (kg)  Altura (cm)  Idade        IMC
0         72         1.80     31  22.222222
1         80         1.70     21  27.681661
2         60         1.75     16  19.591837
3         90         1.74     28  29.726516
4        100         1.85     23  29.218408

(e) Remova a coluna que contém a idade das pessoas.

In [94]:
dados_pessoas_semIdade = dados_pessoas.drop(columns="Idade")

In [96]:
dados_pessoas_semIdade

   Peso (kg)  Altura (cm)        IMC
0         72         1.80  22.222222
1         80         1.70  27.681661
2         60         1.75  19.591837
3         90         1.74  29.726516
4        100         1.85  29.218408

(f) Salve esses dados do DataFrame em um arquivo csv.

In [97]:
dados_pessoas.to_csv("C:\\Users\\Fabio\\Desktop\\Data Science\\Módulo 3\\Aula Pandas\\calculo.csv")