Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [47]:
df = pd.read_csv("C:\\Users\\Fabio\\Desktop\\Data Science\\Módulo 3\\Aula Pandas\\calculo.csv", index_col=4)

In [48]:
df.drop("Unnamed: 0", axis=1, inplace=True)

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

In [49]:
df["Nome"] = ["Fábio", "Maria", "Clara", "Ana", "Alice"]

In [50]:
df

       Peso (kg)  Altura (cm)        IMC   Nome
Idade
31            72         1.80  22.222222  Fábio
21            80         1.70  27.681661  Maria
16            60         1.75  19.591837  Clara
28            90         1.74  29.726516    Ana
23           100         1.85  29.218408  Alice

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

In [51]:
df = df.set_index(keys="Nome")

In [52]:
df

       Peso (kg)  Altura (cm)        IMC
Nome
Fábio         72         1.80  22.222222
Maria         80         1.70  27.681661
Clara         60         1.75  19.591837
Ana           90         1.74  29.726516
Alice        100         1.85  29.218408

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [53]:
df_sobrepeso = df[(df["IMC"] > 25) & (df["IMC"] < 29.9)]

In [60]:
df_sobrepeso["IMC"]

Nome
Maria    27.681661
Ana      29.726516
Alice    29.218408
Name: IMC, dtype: float64