Enunciado
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)

Menor que 18,5	Magreza	0

Entre 18,5 e 24,9	Normal	0

Entre 25,0 e 29,9	Sobrepeso	I

Entre 30,0 e 39,9	Obesidade	II

Maior que 40,0	Obesidade Grave	III

(b) Salve em DataFrame no formato xlsx.

In [4]:
import pandas as pd

In [51]:
df = pd.read_csv("C:\\Users\\Fabio\\dados_pessoas.csv")
df.drop(columns=["Unnamed: 0"], inplace=True)
df

   peso  altura  idade        IMC
0    72     180     31  22.222222
1    80     170     21  27.681661
2    60     175     16  19.591837
3    90     174     28  29.726516
4   100     185     23  29.218408

In [54]:
# (a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.
df["Classificação"] = ["Normal 0", "Sobrepeso I", "Normal 0", "Sobrepeso I", "Sobrepeso I"]
df

   peso  altura  idade        IMC Classificação
0    72     180     31  22.222222      Normal 0
1    80     170     21  27.681661   Sobrepeso I
2    60     175     16  19.591837      Normal 0
3    90     174     28  29.726516   Sobrepeso I
4   100     185     23  29.218408   Sobrepeso I

In [48]:
# (b) Salve em DataFrame no formato xlsx.
df.to_excel("df.xlsx")