Enunciado
Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.

In [1]:
import pandas as pd

In [3]:
peso = [72, 80, 60, 90, 100]
altura = [180, 170, 175, 174, 185]
idade = [31, 21, 16, 28, 23]

In [5]:
dados_pessoas = pd.DataFrame()

In [7]:
dados_pessoas["peso"] = [72, 80, 60, 90, 100]
dados_pessoas["altura"] = [180, 170, 175, 174, 185]
dados_pessoas["idade"] = [31, 21, 16, 28, 23]
dados_pessoas

   peso  altura  idade
0    72     180     31
1    80     170     21
2    60     175     16
3    90     174     28
4   100     185     23

In [20]:
# Todas as alturas das pessoas
todas_alturas = dados_pessoas["altura"]
todas_alturas

0    180
1    170
2    175
3    174
4    185
Name: altura, dtype: int64

In [24]:
#Idade média das pessoas
idade_media = dados_pessoas["idade"].mean()
idade_media

23.8

In [32]:
# Dados das pessoas abaixo da altura média
media = dados_pessoas["altura"].mean()
abaixo_altura_media = dados_pessoas[dados_pessoas["altura"] < media]
abaixo_altura_media

   peso  altura  idade
1    80     170     21
2    60     175     16
3    90     174     28

In [36]:
dados_pessoas

   peso  altura  idade
0    72     180     31
1    80     170     21
2    60     175     16
3    90     174     28
4   100     185     23

In [37]:
dados_pessoas["altura"][0]

180

In [49]:
#Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa. IMC = PESO/ALTURA² 
imc_indice_zero = dados_pessoas["peso"][0]/(dados_pessoas["altura"][0]/100)**2
imc_indice_um = dados_pessoas["peso"][1]/(dados_pessoas["altura"][1]/100)**2
imc_indice_dois = dados_pessoas["peso"][2]/(dados_pessoas["altura"][2]/100)**2
imc_indice_tres = dados_pessoas["peso"][3]/(dados_pessoas["altura"][3]/100)**2
imc_indice_quatro = dados_pessoas["peso"][4]/(dados_pessoas["altura"][4]/100)**2

dados_pessoas["IMC"] = [imc_indice_zero, imc_indice_um, imc_indice_dois, imc_indice_tres, imc_indice_quatro]
dados_pessoas

   peso  altura  idade        IMC
0    72     180     31  22.222222
1    80     170     21  27.681661
2    60     175     16  19.591837
3    90     174     28  29.726516
4   100     185     23  29.218408

In [55]:
# Remova a coluna que contém a idade das pessoas.
dados_pessoas_sem_idade = dados_pessoas.drop(columns=["idade"])
dados_pessoas_sem_idade

   peso  altura        IMC
0    72     180  22.222222
1    80     170  27.681661
2    60     175  19.591837
3    90     174  29.726516
4   100     185  29.218408

In [56]:
dados_pessoas.to_csv("dados_pessoas.csv")