Enunciado

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.

(b) O preço médio dos abacates vendidos para cada tipo.

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("C:\\Users\\Fabio\\avocado_editado.csv")
df.drop(columns="Unnamed: 0", inplace=True)
df

,Date,AveragePrice,Total Volume,year,region,type
0,2015-12-27,1.33,64236.62,2015,Albany,conventional
1,2015-12-20,1.35,54876.98,2015,Albany,conventional
2,2015-12-13,0.93,118220.22,2015,Albany,conventional
3,2015-12-06,1.08,78992.15,2015,Albany,conventional
4,2015-11-29,1.28,51039.60,2015,Albany,conventional
...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,2018,WestTexNewMexico,organic
18245,2018-01-28,1.71,13888.04,2018,WestTexNewMexico,organic
18246,2018-01-21,1.87,13766.76,2018,WestTexNewMexico,organic
18247,2018-01-14,1.93,16205.22,2018,WestTexNewMexico,organic
18248,2018-01-07,1.62,17489.58,2018,WestTexNewMexico,organic

In [47]:
# (a) A volume total de abacates vendidos para cada tipo.
df = df.groupby(by="type")["Total Volume"].sum()  
df

type
conventional    1.508722e+10
organic         4.361817e+08
Name: Total Volume, dtype: float64

In [43]:
# (b) O preço médio dos abacates vendidos para cada tipo.
df = df.groupby(by="type")["AveragePrice"].sum()
df

type
conventional    10568.27
organic         15089.43
Name: AveragePrice, dtype: float64