# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [1]:
import pandas as pd

In [2]:
atletas = pd.read_csv("C:\\Users\\Fabio\\Desktop\\Data Science\\Módulo 3\\Aula 04\\athlete_events.csv")
atletas.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Filtrei os atletas brasileiros

In [3]:
atletas_brasil = atletas[atletas["Team"] == "Brazil"] # Atletas Brasileiros
df_atletas_brasil = pd.DataFrame(atletas_brasil)
df_atletas_brasil.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN
1017,569,Paulo Francisco Joazeiro de Abreu,M,18.0,176.0,78.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Water Polo,Water Polo Men's Water Polo,NaN
1235,695,Ricardo Augusto Amaral Acioly,M,24.0,179.0,78.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Tennis,Tennis Men's Doubles,NaN
1339,756,Adalberto Pereira da Silva,M,25.0,189.0,105.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Handball,Handball Men's Handball,NaN
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver

POR SEXO

In [4]:
atletas_brasil_sexo = atletas_brasil["Sex"].value_counts()
df_atletas_brasil_sexo = pd.DataFrame(atletas_brasil_sexo)
df_atletas_brasil_sexo

    Sex
M  2648
F  1124

POR IDADE

In [5]:
atletas_brasil_idade = atletas_brasil["Age"].value_counts()
df_atletas_brasil_idade = pd.DataFrame(atletas_brasil_idade)
df_atletas_brasil_idade.head(10)

      Age
22.0  310
23.0  282
25.0  282
21.0  279
24.0  264
27.0  234
20.0  211
26.0  209
19.0  208
29.0  180

In [6]:
# média de idade por ano
media_idade_ano = df_atletas_brasil.groupby(by=["Year"])["Age"].mean()
df_media_idade_ano = pd.DataFrame(media_idade_ano)
df_media_idade_ano

            Age
Year
1900  20.000000
1920  35.428571
1924  23.142857
1932  24.900000
1936  25.397849
1948  26.577320
1952  26.174312
1956  26.203390
1960  25.402439
1964  23.639344
1968  24.932584
1972  23.134615
1976  23.606742
1980  23.335570
1984  24.324873
1988  24.309013
1992  25.108434
1994  31.000000
1996  25.255144
1998  25.000000
2000  24.877193
2002  26.200000
2004  25.174194
2006  27.416667
2008  25.612121
2010  24.857143
2012  26.877551
2014  29.705882
2016  27.105079

In [7]:
# Média máxima encontrada dentre todos os anos
df_media_idade_ano.max()

Age    35.428571
dtype: float64

In [8]:
# Média mínima encontrada dentre todos os anos
df_media_idade_ano.min()

Age    20.0
dtype: float64

In [9]:
# Idade mínina encontrada entre atletas brasileiros
idade = atletas_brasil["Age"].min()
print(f"{idade} anos")

13.0 anos

In [10]:
# Idade máxima encontrada entre atletas brasileiros
idade = atletas_brasil["Age"].max()
print(f"{idade} anos")

56.0 anos

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [11]:
# Atletas Brasileiros medalhistas
atletas_brasil_medalhistas = atletas_brasil.dropna() 
df_atletas_brasil_medalhistas = pd.DataFrame(atletas_brasil_medalhistas)
df_atletas_brasil_medalhistas.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
1857,1020,Adriana Aparecida dos Santos,F,29.0,180.0,61.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze
1863,1023,"Adriana ""Adrianinha"" Moiss Pinto",F,21.0,170.0,65.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze
4226,2419,Aldair Nascimento dos Santos,M,30.0,183.0,76.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
4457,2546,Alessandra dos Santos de Oliveira,F,22.0,200.0,85.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
4458,2546,Alessandra dos Santos de Oliveira,F,26.0,200.0,85.0,Brazil,BRA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,Bronze

In [12]:
# Contei o número de medalhistas brasileiros
atletas_brasil_medalhistas_soma = df_atletas_brasil_medalhistas["Medal"].value_counts() 
df_atletas_brasil_medalhistas_soma = pd.DataFrame(atletas_brasil_medalhistas_soma)
df_atletas_brasil_medalhistas_soma

        Medal
Bronze    166
Silver    155
Gold      101

In [13]:
# Atletas Brasileiros que não conquistaram medalhas
df_atletas_brasil_semMedalhas = df_atletas_brasil["Medal"].isna().sum() 
df_atletas_brasil_semMedalhas

3323

In [14]:
# Atletas brasileiros que ganharam medalhas dividido por sexo
atletas_brasil_sexo = atletas_brasil.groupby(by=["Sex"])["Medal"].value_counts()  
df_atletas_brasil_sexo = pd.DataFrame(atletas_brasil_sexo)
df_atletas_brasil_sexo

            Medal
Sex Medal
F   Silver     47
    Bronze     45
    Gold       29
M   Bronze    140
    Silver    114
    Gold       74

In [15]:
 # Todos os medalhistas brasileiros no futebol que ganharam medalhas
atletas_brasil_futebol = df_atletas_brasil_medalhistas[df_atletas_brasil_medalhistas["Sport"] == "Football"].value_counts()
df_atletas_brasil_futebol = pd.DataFrame(atletas_brasil_futebol) 
df_atletas_brasil_futebol

                                                                                                                                                                  0
ID     Name                                     Sex Age  Height Weight Team   NOC Games       Year Season City           Sport    Event                   Medal
134211 Jos Carlos Cracco Neto                   M   22.0 170.0  69.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold    1
28380  Nelson de Jess "Dida" Silva              M   22.0 195.0  85.0   Brazil BRA 1996 Summer 1996 Summer Atlanta        Football Football Men's Football Bronze  1
29713  Douglas dos Santos Justino de Melo       M   22.0 173.0  69.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold    1
30647  Carlos Caetano "Dunga" Bledorn Verri     M   20.0 174.0  68.0   Brazil BRA 1984 Summer 1984 Summer Los Angeles    Football Football Men's Football Silver  1
31426  Edmar Bernardes dos Santos               M   28.0 175.0  72.0   Brazil BRA 1988 Summer 1988 Summer Seoul          Football Football Men's Football Silver  1
...                                                                                                                                                              ..
98282  Mrcio Rafael "Rafinha" Ferreira de Souza M   22.0 172.0  67.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Football Football Men's Football Bronze  1
98283  Rafael Alcntara do Nascimento            M   23.0 172.0  65.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold    1
98623  Ramires Santos do Nascimento             M   21.0 179.0  64.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Football Football Men's Football Bronze  1
99933  Renan Brito Soares                       M   23.0 187.0  86.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Football Football Men's Football Bronze  1
918    Ademir Roque Kaefer                      M   24.0 179.0  74.0   Brazil BRA 1984 Summer 1984 Summer Los Angeles    Football Football Men's Football Silver  1

[131 rows x 1 columns]

In [16]:
 # Soma de todos os medalhistas brasileiros no futebol que ganharam medalhas
atletas_brasil_futebol = df_atletas_brasil_medalhistas[df_atletas_brasil_medalhistas["Sport"] == "Football"].value_counts()
df_atletas_brasil_futebol = pd.DataFrame(atletas_brasil_futebol) 
df_atletas_brasil_futebol.sum()

0    131
dtype: int64

In [17]:
# Todos os medalhistas brasileiros no futebol que ganharam medalhas de Ouro
atletas_brasil_futebol_ouro = df_atletas_brasil_medalhistas[(df_atletas_brasil_medalhistas["Medal"] == "Gold") & (df_atletas_brasil_medalhistas["Sport"] == "Football")].value_counts()
df_atletas_brasil_futebol_ouro = pd.DataFrame(atletas_brasil_futebol_ouro)  
df_atletas_brasil_futebol_ouro.head(5)

                                                                                                                                                       0
ID     Name                           Sex Age  Height Weight Team   NOC Games       Year Season City           Sport    Event                   Medal
134211 Jos Carlos Cracco Neto         M   22.0 170.0  69.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
85613  Neymar da Silva Santos Jnior   M   24.0 174.0  64.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
34546  Felipe Anderson Perieira Gomes M   23.0 178.0  66.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
37807  Gabriel Barbosa Almeida        M   19.0 178.0  68.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
37808  Gabriel Fernando de Jesus      M   19.0 175.0  68.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1

In [18]:
# Todos os medalhistas brasileiros no futebol que ganharam medalhas de Ouro por sexo masculino
atletas_brasil_futebol_ouro_masculino = df_atletas_brasil_medalhistas[(df_atletas_brasil_medalhistas["Medal"] == "Gold") & (df_atletas_brasil_medalhistas["Sport"] == "Football") & (df_atletas_brasil_medalhistas["Sex"] == "M")].value_counts()
df_atletas_brasil_futebol_ouro_masculino = pd.DataFrame(atletas_brasil_futebol_ouro_masculino)  
df_atletas_brasil_futebol_ouro_masculino.head(5)

                                                                                                                                                       0
ID     Name                           Sex Age  Height Weight Team   NOC Games       Year Season City           Sport    Event                   Medal
134211 Jos Carlos Cracco Neto         M   22.0 170.0  69.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
85613  Neymar da Silva Santos Jnior   M   24.0 174.0  64.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
34546  Felipe Anderson Perieira Gomes M   23.0 178.0  66.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
37807  Gabriel Barbosa Almeida        M   19.0 178.0  68.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1
37808  Gabriel Fernando de Jesus      M   19.0 175.0  68.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football Football Men's Football Gold   1

In [19]:
# Todos os medalhistas brasileiros no futebol que ganharam medalhas de Ouro por sexo feminino
atletas_brasil_futebol_ouro_feminino = df_atletas_brasil_medalhistas[(df_atletas_brasil_medalhistas["Medal"] == "Gold") & (df_atletas_brasil_medalhistas["Sport"] == "Football") & (df_atletas_brasil_medalhistas["Sex"] == "F")].value_counts()
df_atletas_brasil_futebol_ouro_feminino = pd.DataFrame(atletas_brasil_futebol_ouro_feminino)  
df_atletas_brasil_futebol_ouro_feminino.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 0 entries
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      int64
dtypes: int64(1)
memory usage: 800.0 bytes

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [20]:
df_atletas = pd.DataFrame(atletas)
df_atletas.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
# Medalhistas brasileiros nos jogos de verão
brasil_verao_medalhistas = df_atletas[(df_atletas["Season"] == "Summer") & (df_atletas["Team"] == "Brazil")].value_counts()
df_brasil_verao_medalhistas = pd.DataFrame(brasil_verao_medalhistas)
df_brasil_verao_medalhistas

                                                                                                                                                                              0
ID     Name                             Sex Age  Height Weight Team   NOC Games       Year Season City           Sport      Event                                     Medal
134211 Jos Carlos Cracco Neto           M   22.0 170.0  69.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football   Football Men's Football                   Gold    1
37266  Friedrich Wilhelm "Fritz" Braun  M   23.0 193.0  92.0   Brazil BRA 1964 Summer 1964 Summer Tokyo          Basketball Basketball Men's Basketball               Bronze  1
33630  Fabiana "Fabi" Alvim de Oliveira F   32.0 169.0  59.0   Brazil BRA 2012 Summer 2012 Summer London         Volleyball Volleyball Women's Volleyball             Gold    1
33637  Fabiana da Silva Simes           F   19.0 161.0  56.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Football   Football Women's Football                 Silver  1
33638  Fabiana Marcelino Claudino       F   23.0 193.0  76.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Volleyball Volleyball Women's Volleyball             Gold    1
...                                                                                                                                                                          ..
85526  Thiago Neves Augusto             M   23.0 182.0  70.0   Brazil BRA 2008 Summer 2008 Summer Beijing        Football   Football Men's Football                   Bronze  1
85613  Neymar da Silva Santos Jnior     M   20.0 174.0  64.0   Brazil BRA 2012 Summer 2012 Summer London         Football   Football Men's Football                   Silver  1
                                            24.0 174.0  64.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Football   Football Men's Football                   Gold    1
88461  Poliana Okimoto-Cintra           F   33.0 165.0  52.0   Brazil BRA 2016 Summer 2016 Summer Rio de Janeiro Swimming   Swimming Women's 10 kilometres Open Water Bronze  1
918    Ademir Roque Kaefer              M   24.0 179.0  74.0   Brazil BRA 1984 Summer 1984 Summer Los Angeles    Football   Football Men's Football                   Silver  1

[422 rows x 1 columns]

In [22]:
# Medalhistas brasileiros nos jogos de verão
brasil_verao_medalhistas = df_atletas[(df_atletas["Season"] == "Summer") & (df_atletas["Team"] == "Brazil")].value_counts()
df_brasil_verao_medalhistas = pd.DataFrame(brasil_verao_medalhistas)
df_brasil_verao_medalhistas.sum()

0    422
dtype: int64

In [23]:
# Medalhistas brasileiros nos jogos de inverno
df_brasil_inverno_medalhistas = df_atletas[(df_atletas["Season"] == "Winter") & (df_atletas["Team"] == "Brazil")].value_counts()
pd.DataFrame(df_brasil_inverno_medalhistas).info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 0 entries
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      int64
dtypes: int64(1)
memory usage: 2.2+ KB

In [24]:
# Participações de jogos em cada cidade (Brasileiros)
verao_medalhistas_jogos_cidade = atletas_brasil.groupby(by=["Games"])["City"].value_counts()
df_verao_medalhistas_jogos_cidade = pd.DataFrame(verao_medalhistas_jogos_cidade)
df_verao_medalhistas_jogos_cidade.head(10)

                         City
Games       City
1900 Summer Paris           3
1920 Summer Antwerpen      38
1924 Summer Paris          18
1932 Summer Los Angeles    67
1936 Summer Berlin         93
1948 Summer London        101
1952 Summer Helsinki      114
1956 Summer Melbourne      55
            Stockholm       6
1960 Summer Roma           82

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [25]:
atletas_brasileiros = df_atletas[df_atletas["Team"] == "Brazil"]
atletas_brasileiros.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN

In [26]:
atletas_brasileiros["Season"].value_counts() # Verificando quantos Summers e Winters

Summer    3708
Winter      64
Name: Season, dtype: int64

In [27]:
atletas_brasileiros_inverno = atletas_brasileiros[atletas_brasileiros["Season"] == "Winter"]
atletas_brasileiros_inverno

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8581,4713,Marcelo Apovian,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,NaN
8582,4713,Marcelo Apovian,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
8583,4713,Marcelo Apovian,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
8584,4713,Marcelo Apovian,M,25.0,NaN,NaN,Brazil,BRA,1998 Winter,1998,Winter,Nagano,Alpine Skiing,Alpine Skiing Men's Super G,NaN
9508,5216,Mirella Silva Prado Arnhold,F,18.0,159.0,51.0,Brazil,BRA,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214404,107632,Srgio Schuler,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,NaN
214405,107632,Srgio Schuler,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
214406,107632,Srgio Schuler,M,19.0,NaN,NaN,Brazil,BRA,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
220043,110538,Mrcio da Costa Silva,M,25.0,181.0,95.0,Brazil,BRA,2006 Winter,2006,Winter,Torino,Bobsleigh,Bobsleigh Men's Four,NaN
260987,130605,Isadora Marie Williams,F,17.0,156.0,47.0,Brazil,BRA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Women's Singles,NaN

In [28]:
atletas_brasileiros = atletas_brasileiros[atletas_brasileiros["Season"] != "Winter"]  # Excluindo as linhas que contém 'Winter'
atletas_brasileiros

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268652,134400,"Maria Jos ""Zz"" Bertolotti",F,26.0,190.0,NaN,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Women's Basketball,NaN
269745,134976,Sieglinda Lenk Zigler,F,17.0,NaN,NaN,Brazil,BRA,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Women's 100 metres Backstroke,NaN
269899,135037,Moacir Zimmermann,M,32.0,184.0,70.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 20 kilometres Walk,NaN
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270789,135423,Ral Benedito Zumbano,M,22.0,NaN,NaN,Brazil,BRA,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Lightweight,NaN

In [31]:
atletas_brasileiros["Season"].value_counts()

Summer    3708
Name: Season, dtype: int64

In [32]:
atletas_brasileiros["Games"].value_counts()

2016 Summer    571
2008 Summer    330
2004 Summer    310
2012 Summer    294
1996 Summer    243
1988 Summer    233
1992 Summer    233
2000 Summer    228
1984 Summer    197
1980 Summer    149
1952 Summer    114
1972 Summer    104
1948 Summer    101
1936 Summer     93
1976 Summer     89
1968 Summer     89
1960 Summer     82
1932 Summer     67
1956 Summer     61
1964 Summer     61
1920 Summer     38
1924 Summer     18
1900 Summer      3
Name: Games, dtype: int64

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [142]:
atletas_brasil.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

In [145]:
atletas_brasileiros_medalhistas = atletas_brasil[atletas_brasil["Medal"] != "Nan"]
df_atletas_brasileiros_medalhistas = pd.DataFrame(atletas_brasileiros_medalhistas)
df_atletas_brasileiros_medalhistas

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267707,133931,Arthur Nabarrete Zanetti,M,22.0,156.0,61.0,Brazil,BRA,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Rings,Gold
267709,133931,Arthur Nabarrete Zanetti,M,26.0,156.0,61.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Silver
268211,134186,"Jos Elias ""Z Elias"" Moedim Jnior",M,19.0,178.0,75.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268219,134191,"Jos Marcelo ""Z Maria"" Ferreira",M,22.0,175.0,71.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268247,134211,Jos Carlos Cracco Neto,M,22.0,170.0,69.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Men's Football,Gold

ALTURA MÉDIA

In [152]:
altura_media = df_atletas_brasileiros_medalhistas["Height"].mean()
print(f"{altura_media:.2f} metros")

182.35 metros

PESO MÉDIO

In [153]:
peso_medio = df_atletas_brasileiros_medalhistas["Weight"].mean()
print(f"{peso_medio:.2f} Kg")

76.62 Kg

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [173]:
df_atletas_brasil

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,388,Abel Carlos da Silva Braga,M,19.0,190.0,73.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,451,Diana Monteiro Abla,F,21.0,175.0,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,565,Glauclio Serro Abreu,M,26.0,185.0,75.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268652,134400,"Maria Jos ""Zz"" Bertolotti",F,26.0,190.0,NaN,Brazil,BRA,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Women's Basketball,NaN
269745,134976,Sieglinda Lenk Zigler,F,17.0,NaN,NaN,Brazil,BRA,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Women's 100 metres Backstroke,NaN
269899,135037,Moacir Zimmermann,M,32.0,184.0,70.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 20 kilometres Walk,NaN
270478,135289,Zzimo Alves Calazans,M,20.0,NaN,NaN,Brazil,BRA,1952 Summer,1952,Summer,Helsinki,Football,Football Men's Football,NaN
270789,135423,Ral Benedito Zumbano,M,22.0,NaN,NaN,Brazil,BRA,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Lightweight,NaN

VALOR MÉDIO TOTAL POR ALTURA

In [255]:
altura_medio_esporte = df_atletas_brasil.groupby(by=["Sport"])["Height"].mean()

df_altura_medio_esporte = pd.DataFrame(altura_medio_esporte) 
df_altura_medio_esporte.rename(columns={  # Modifiquei o nome da coluna
    'Height': 'Sem medalha'
}, inplace=True)

VALOR MÉDIO POR ALTURA DOS MEDALHISTAS

In [256]:
altura_medio_esporte_medalha = df_atletas_brasileiros_medalhistas.groupby(by=["Sport"])["Height"].mean()
df_altura_medio_esporte_medalha = pd.DataFrame(altura_medio_esporte_medalha)
df_altura_medio_esporte_medalha.rename(columns={ # Modifiquei o nome da coluna
    'Height': 'Com medalha'
}, inplace=True)

COMPARANDO AS ALTURAS NÃO EXISTE NENHUMA DIFERENÇA ENTRE A MÉDIA DELAS E O DESEMPENHO

In [257]:
frames = [df_altura_medio_esporte, df_altura_medio_esporte_medalha]
correlacao_altura = pd.concat(frames, axis=1)
correlacao_altura

                       Sem medalha  Com medalha
Alpine Skiing           176.631579          NaN
Archery                 172.600000          NaN
Art Competitions               NaN          NaN
Athletics               176.203463   181.000000
Badminton               175.500000          NaN
Basketball              190.911894   185.847826
Biathlon                170.000000          NaN
Bobsleigh               182.642857          NaN
Boxing                  171.985075   170.000000
Canoeing                177.791667   175.000000
Cross Country Skiing    173.000000          NaN
Cycling                 174.235955          NaN
Diving                  167.444444          NaN
Equestrianism           177.429530   179.666667
Fencing                 179.196429          NaN
Figure Skating          156.000000          NaN
Football                173.369176   175.671756
Freestyle Skiing        154.000000          NaN
Golf                    170.000000          NaN
Gymnastics              157.268041   162.750000
Handball                181.474453          NaN
Hockey                  177.437500          NaN
Judo                    173.925234   176.666667
Luge                    175.000000          NaN
Modern Pentathlon       168.600000   166.000000
Rhythmic Gymnastics     164.160000          NaN
Rowing                  180.552083          NaN
Rugby Sevens            171.240000          NaN
Sailing                 179.587097   181.588235
Shooting                174.035294   169.000000
Snowboarding            167.000000          NaN
Swimming                181.176471   189.388889
Synchronized Swimming   168.461538          NaN
Table Tennis            169.727273          NaN
Taekwondo               173.769231   184.000000
Tennis                  182.625000          NaN
Trampolining            168.000000          NaN
Triathlon               175.800000          NaN
Volleyball              187.762411   190.591667
Water Polo              179.888889          NaN
Weightlifting           169.909091          NaN
Wrestling               176.230769          NaN

VALOR MÉDIO TOTAL POR PESO

In [258]:
peso_medio_esporte = df_atletas_brasil.groupby(by=["Sport"])["Weight"].mean()
df_peso_medio_esporte = pd.DataFrame(peso_medio_esporte) 
df_peso_medio_esporte.rename(columns={  # Modifiquei o nome da coluna
    'Weight': 'Sem medalha'
}, inplace=True)

VALOR MÉDIO POR PESO DOS MEDALHISTAS

In [259]:
peso_medio_esporte_medalha = df_atletas_brasileiros_medalhistas.groupby(by=["Sport"])["Weight"].mean()
df_peso_medio_esporte_medalha = pd.DataFrame(peso_medio_esporte_medalha)
df_peso_medio_esporte_medalha.rename(columns={ # Modifiquei o nome da coluna
    'Weight': 'Com medalha'
}, inplace=True)

COMPARANDOOS PESOS ENCONTRAMOS UMA LIGEIRA DIFERENÇA ENTRE A MÉDIA DELAS E O DESEMPENHO

In [260]:
frames = [df_peso_medio_esporte, df_peso_medio_esporte_medalha]
correlacao_peso = pd.concat(frames, axis=1)
correlacao_peso

                       Sem medalha  Com medalha
Alpine Skiing            74.789474          NaN
Archery                  71.700000          NaN
Art Competitions               NaN          NaN
Athletics                67.795045    74.576923
Badminton                74.000000          NaN
Basketball               85.900474    78.478261
Biathlon                 55.000000          NaN
Bobsleigh                87.571429          NaN
Boxing                   64.106061    64.000000
Canoeing                 77.395833    83.250000
Cross Country Skiing     64.125000          NaN
Cycling                  66.870588          NaN
Diving                   64.970588          NaN
Equestrianism            72.313869    75.000000
Fencing                  73.357143          NaN
Figure Skating           47.000000          NaN
Football                 67.760456    69.961832
Freestyle Skiing         50.000000          NaN
Golf                     62.000000          NaN
Gymnastics               52.463918    63.750000
Handball                 80.773723          NaN
Hockey                   76.125000          NaN
Judo                     80.289720    86.285714
Luge                     76.000000          NaN
Modern Pentathlon        60.666667    55.000000
Rhythmic Gymnastics      48.160000          NaN
Rowing                   80.090909          NaN
Rugby Sevens             72.880000          NaN
Sailing                  76.805195    80.411765
Shooting                 76.916667    69.000000
Snowboarding             61.000000          NaN
Swimming                 74.586634    81.555556
Synchronized Swimming    57.423077          NaN
Table Tennis             64.181818          NaN
Taekwondo                63.615385    79.500000
Tennis                   72.218750          NaN
Trampolining             58.000000          NaN
Triathlon                64.400000          NaN
Volleyball               78.847518    81.166667
Water Polo               81.471698          NaN
Weightlifting            85.640000          NaN
Wrestling                83.153846          NaN

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

E o(s) maior(es) em quantidade de medalhas de ouro?

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

Obtenha a lista de todos os países que já disputaram olimpíadas.

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.